@import '~modules/common/style/variables';

.check {
    &__name {
        padding: 50px;
        text-align: center;
        font-size: 30px;
    }
    &__load {
        position: relative;
    }
    &__buttons {
        padding: 40px;
        display: flex;
        background: url("/img/bg1.png") repeat-x;
        justify-content: space-around;
    }
    &__bg1 {
        position: relative;
        background-color: @DarkBlue;
    }
    &__bg1-img {
        left: 0;
        top: 0;
        position: absolute;
    }
    &__submit {
        opacity: 0;
        position: absolute;
        width: 300px;
        height: 60px;
        left: 0;
    }
    &__fileName {
        top: 72px;
        position: absolute;
        left: 60px;
        font-size: 22px;
    }
    &__input {
        position: absolute;
        left: 0;
        height: 60px;
        cursor: pointer;
        top: 0;
        opacity: 0;
    }
    &__button {
        cursor: pointer;
        background-color: @White1;
        position: relative;
        padding: 20px;
        display: inline-block;
        border-radius: 10px;
        text-align: center;
        min-width: 300px;
        &_violet {
            background-color: @Violet;
        }
        &-text {
            color: #000;
            text-transform: uppercase;
            text-align: center;
            &_white {
                color: #fff;
            }
        }
    }
    &__img {
        width: 100%;
    }
    padding-bottom: 30px;
    position: relative;
}
.text-center {
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}