@import '~modules/common/style/variables';

.find {
    &__input {
        border-radius: 5px;
        border: 1px solid #aeaeae;
    }
    &__btn {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
}
